include /components/mixins/other.jade
include /components/mixins/buttons.jade
include /components/mixins/panel.jade
include /components/mixins/form.jade
+heading("docents")
  table.table.table-striped(
    ng-show="finished"
    infinite-scroll="docents.next()"
    infinite-scroll-distance=2
    infinite-scroll-disabled="busy")
    thead
      tr 
        th 
          +input("Titel")(
            ng-model="docents.filter.title"
            ng-change="docents.updateFilter()"
            ng-disabled="docents.disabled")
        th 
          +input("Vorname")(
            ng-model="docents.filter.foreName"
            ng-change="docents.updateFilter()"
            ng-disabled="docents.disabled")
        th
          +input("Name")(
            ng-model="docents.filter.name"
            ng-change="docents.updateFilter()"
            ng-disabled="docents.disabled")
        th
          +input("E-mail")(
            ng-model="docents.filter.email"
            ng-change="docents.updateFilter()"
            ng-disabled="docents.disabled")
        th
          +singleSelect("Institut")(
            ng-model="docents.filter.institute"
            ng-change="docents.updateFilter()"
            ng-options="inst.name as inst.name for inst in institutes"
            ng-disabled="docents.disabled")
        th
          +iconButton("Hinzufügen","fa-save").btn-primary(
              ng-click="docents.insert()"
              ng-disabled="!docents.filter.name"
              )  
        th
    tbody      
      tr(ng-repeat="docent in docents.data | filter:docents.filter:strict"
        ng-class="{danger: docent.deleted, warning: docent.changed}")
        th 
          +input("Titel")(
            ng-model="docent.title"
            ng-change="docents.setChanged(docent)"
            ng-disabled="docent.deleted")
        th 
          +input("Vorname")(
            ng-model="docent.foreName"
            ng-change="docents.setChanged(docent)"
            ng-disabled="docent.deleted")
        th
          +input("Name")(
            ng-model="docent.name"
            ng-change="docents.setChanged(docent)"
            ng-disabled="docent.deleted")
        th
          +input("E-mail")(
            ng-model="docent.email"
            ng-change="docents.setChanged(docent)"
            ng-disabled="docent.deleted")
        th
          +singleSelect("Institut")(
            ng-model="docent.institute"
            ng-change="docents.setChanged(docent)"
            ng-options="inst.name as inst.name for inst in institutes"
            ng-disabled="docent.deleted")
        td
          .btn-group(ng-show="docent.changed && !docent.deleted")
            +iconButton("Speichern","fa-save").btn-primary(
              ng-click="docents.save(docent)"
              ) 
            +iconButton("Rückgängig","fa-undo").btn-default(
              ng-click="docents.unchange(docent)"
              )
          .btn-group(ng-show="docent.deleted")
            +iconButton("Wiederherstellen","fa-undo").btn-default(
              ng-click="docents.undelete(docent)"
              ng-show="docent.deleted"
              ) 
            +iconButton("Endgültig löschen","fa-trash-o").btn-danger(
              ng-click="docents.remove(docent)"
              ng-show="docent.deleted"
              ) 
          +iconButton("Löschen","fa-trash-o").btn-warning(
            ng-click="docents.delete(docent)"
            ng-show="!docent.changed && !docent.deleted"
            ) 
        td
          +iconButton("History","fa-list").btn-default(
            ng-click="showHistory(docent)"
            ng-show="docent.version>1"
            ) 
  .busy(ng-show="docents.busy") Lade Daten..
