mixin iconButton(popover,fa)
  button.btn(
    popover=popover
    popover-trigger="mouseenter"
    popover-animation="true"
    popover-popup-delay="250"
    popover-append-to-body="true"
    )&attributes(attributes)
    span.fa.fa-lg(class=fa)