include /components/mixins/buttons.jade
mixin input(placeholder)  
  input.form-control(
    type="text"
    placeholder=placeholder
    )&attributes(attributes)

mixin inputPassword(placeholder)  
  input.form-control(
    type="password"
    placeholder=placeholder
    )&attributes(attributes)

mixin inputCheckbox(placeholder)
  .checkbox
    label
      input(
        type="checkbox"
        ng-true-value="true"
        ng-false-value="false")&attributes(attributes)
      span= placeholder

mixin inputDate(placeholder)
  p.input-group(ng-controller="isOpenCtrl")
    input.form-control(
      placeholder=placeholder
      datepicker-popup="dd.MM.yyyy"
      datepicker-options="dateOptions"
      is-open="isOpen"
      )&attributes(attributes)
    span.input-group-btn
      +iconButton("Kalender","fa-calendar-o")(ng-click="toggle($event)")

mixin inputImg(placeholder,ngModel,status)
  .input-addon(ng-class=status)
    +input(placeholder)(ng-model=ngModel)&attributes(attributes)
    i.fa.fa-spinner.fa-spin(ng-show=status+"=='loading'")
    img(ng-if=status+"=='success' || !"+status ng-src="{{"+ngModel+"}}")

mixin singleSelect(placeholder)
  select.single-chosen(
    chosen
    allow-single-deselect="true"
    data-placeholder=placeholder)&attributes(attributes)
    option

mixin multiSelect(placeholder)
  select.multiple-chosen.form-control(
    chosen
    multiple
    data-placeholder=placeholder)&attributes(attributes)

mixin radio(name,data)
  each text, value in data
    .radio
      label
        input(type="radio",name=name,value=value)&attributes(attributes)
        span=text

mixin checkbox(placeholder)
  .checkbox
    label
      input(type="checkbox")&attributes(attributes)
      span=placeholder