include /components/mixins/other.jade
doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]>
html.no-js 
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="fragment",content="!")
    title Vinston
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width")
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../vendor/AngularJS-Toaster/toaster.css')
    link(rel='stylesheet', href='../vendor/angular-ui-tree/dist/angular-ui-tree.min.css')
    // endbower
    link(rel='stylesheet', href='vendor/chosen/chosen.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.css')
    // endbuild 
    // build:css({.tmp,app}) styles/main.css 
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="main.css")
    // endbuild 
  body.container(ng-app="vinstonApp",ng-controller="appCtrl")
    // [if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      ![endif]
    +spinner()
      span(ng-cloak,ng-show="loaded") Versuche einzuloggen... 
    #inforow.row.inforow(ng-cloak,ng-show="finished")
      ul.nav.nav-pills(role="navigation")
        img.activeInstitute.left.img-rounded(ng-click="institute.showModal()"
            ng-src="{{session.getActiveInstitute().image}}",alt="{{session.getActiveInstitute().name}}")
        button#semesterbutton.left.btn.btn-default(ng-click="semester.showModal()",style="margin-left:4px")
          span {{session.getActiveSemester().name}}
          br
          span {{session.getActiveSemester().start | date:'dd.MM.yy' }} - {{session.getActiveSemester().end | date:'dd.MM.yy'}}
        button#loginbutton.btn.btn-default.pull-right(ng-if="!angular.equals(session.getUser(),{})",ng-click="auth.showLoginModal()") Login
        button#userbutton.btn.btn-default.pull-right(ng-if="angular.equals(session.getUser(),{})")
          span Hi, {{session.getUser().name}}
        for group in nav
          li.dropdown(ng-if=group.visible,style="margin-right:4px")
            a.dropdown-toggle(href)=group.pretty
              span.caret
            ul.dropdown-menu(role="menu")
              for func in group.functions
                li
                  a(href=(func.path?func.path:group.path)+func.name)
                    if func.icon
                      i.fa.fa-fw(class=func.icon)
                    span=func.pretty
    .row(ng-cloak,ng-show="finished")
      ul.breadcrumb
        li
          a(href="#") 
            i.fa.fa-home.fa-lg
        for group in nav
          for func in group.functions
            li.active(ng-if="'"+func.name+"'==params.function")
              span=func.name
              if func.icon
                i.fa.fa-fw(class=func.icon)
              
            
    .row(ng-view,ng-cloak,ng-show="finished")
    toaster-container(toaster-options="{'time-out': 3000,'position-class':'toast-bottom-right'}")
    // build:js vendor/vendor.js
    script(src='../vendor/ace-builds/src-min-noconflict/ace.js')
    // bower:js
    script(src='../vendor/jquery/dist/jquery.js')
    script(src='../vendor/es5-shim/es5-shim.js')
    script(src='../vendor/angular/angular.js')
    script(src='../vendor/json3/lib/json3.min.js')
    script(src='../vendor/bootstrap/dist/js/bootstrap.js')
    script(src='../vendor/angular-resource/angular-resource.js')
    script(src='../vendor/angular-cookies/angular-cookies.js')
    script(src='../vendor/angular-sanitize/angular-sanitize.js')
    script(src='../vendor/angular-route/angular-route.js')
    script(src='../vendor/angular-animate/angular-animate.js')
    script(src='../vendor/ocLazyLoad/ocLazyLoad.min.js')
    script(src='../vendor/angular-ui-utils/ui-utils.js')
    script(src='../vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='../vendor/ngInfiniteScroll/ng-infinite-scroll.js')
    script(src='../vendor/angular-chosen-localytics/chosen.js')
    script(src='../vendor/angular-md5/angular-md5.js')
    script(src='../vendor/AngularJS-Toaster/toaster.js')
    script(src='../vendor/deep-diff/index.js')
    script(src='../vendor/lodash/dist/lodash.compat.js')
    script(src='../vendor/jquery-ui/ui/jquery-ui.js')
    script(src='../vendor/angular-ui-sortable/sortable.js')
    script(src='../vendor/angular-ui-tree/dist/angular-ui-tree.js')
    script(src='../vendor/angular-ui-ace/ui-ace.js')
    // endbower
    script(src='vendor/chosen/chosen.jquery.js')
    script(src='vendor/script.js/dist/script.js')
    script(src='vendor/socket.io-client/dist/socket.io.js')
    script(src='vendor/deep-diff/index.js')
    // endbuild
        
    // build:js({.tmp,app}) scripts/scripts.js 
    script(src="components/modules.js")
    script(src="components/globals/globals.js")
    script(src="components/interfaces/auth.js")
    script(src="components/interfaces/config.js")
    script(src="components/interfaces/configData.js")
    script(src="components/interfaces/institute.js")
    script(src="components/interfaces/semester.js")
    script(src="components/interfaces/semesterData.js")
    script(src="components/interfaces/semesterDataCollection.js")
    script(src="components/interfaces/session.js")
    script(src="components/interfaces/userData.js")
    script(src="app.js")
    script(src="index.js")
    script(src="indexInstitutes.js")
    script(src="indexSemesters.js")
    script(src="indexLogin.js")
    // endbuild 