.modal-body
  i.fa.fa-spinner.fa-spin.fa-2x(ng-hide="ready")
  .repeat(ng-repeat="sem in semesters"
    style="margin:2px auto;width:200px;")
    button.btn(
      style="width:200px;"
      ng-show="sem.published && (docent || sem.start < now)"
      ng-click="setSemester(sem)"
      ng-class="sem.class"
      )
      span {{sem.name}}
      br
      span {{sem.start | date:'dd.MM.yy' }} - {{sem.end | date:'dd.MM.yy'}}
      br
      span(ng-show="docent && sem.regstart < now && now < sem.regend")
        | Zumeldung bis {{sem.regend | date:'dd.MM.yy'}}
    br
