#rooms
  table.table.table-striped(
    infinite-scroll="rooms.count()"
    infinite-scroll-distance=2
    infinite-scroll-disabled="busy")
    tr 
      td 
        input.form-control(
          ng-model="rooms.filter.name"
          placeholder="Name"
          ng-change="rooms.updateFilter()"
          ng-disabled="rooms.disabled")
      td
        select.single-chosen(
          chosen
          allow-single-deselect="true"
          data-placeholder="Institut"
          ng-model="rooms.filter.institute"
          ng-change="rooms.updateFilter()"
          ng-options="inst for inst in institutes"
          ng-disabled="rooms.disabled")
          option
          
      td
        select.multiple-chosen.form-control(
          chosen
          multiple
          data-placeholder="Zusätzliche Institute"
          ng-model="rooms.filter.secInstitutes"
          ng-change="rooms.updateFilter()"
          ng-options="inst for inst in institutes"
          ng-disabled="rooms.disabled")
      td
        button.btn(ng-click="rooms.insert()",ng-disabled="rooms.disabled") Einfügen
    tr(ng-repeat="room in rooms.data | filter:rooms.filter:strict")
      td
        input.form-control(ng-model="room.name",ng-change="rooms.setChanged(room)")
      td
        select.single-chosen.form-control(
          chosen
          data-placeholder="Institut"
          ng-model="room.institute"
          ng-change="rooms.setChanged(room)"
          ng-options="inst for inst in institutes")

      td
        select.multiple-chosen.form-control(
          chosen
          multiple
          data-placeholder="Zusätzliche Institute"
          ng-model="room.secInstitutes"
          ng-change="rooms.setChanged(room)"
          ng-options="inst for inst in institutes")
      td
        button.btn(ng-click="rooms.update(room)",ng-show="room.changed") Update
        button.btn(ng-click="rooms.remove(room)",ng-hide="room.changed") Löschen

  .busy(ng-show="rooms.busy") Lade Daten..
  