include /components/mixins/other.jade
include /components/mixins/buttons.jade
include /components/mixins/panel.jade
include /components/mixins/form.jade
link(rel='stylesheet', href='/root/appConfig/appConfig.css')
#config(ng-controller="appConfigCtrl" 
  ng-cloak
  )
  +spinner()
  +panel("Institute einrichten","active == 'institutes'","active != 'institutes'")
    table.table.table-hover
      thead
        tr(ng-disabled="institutes.filter.busy")
          th
            +input(institutes[0].pretty)(ng-model="institutes.filter."+institutes[0].name)
            +inputCheckbox(institutes[1].pretty)(ng-model="institutes.filter."+institutes[1].name)
          th
            +input(institutes[2].pretty)(ng-model="institutes.filter."+institutes[2].name)
            +input(institutes[3].pretty)(ng-model="institutes.filter."+institutes[3].name)
          th
            +inputImg(institutes[4].pretty,"institutes.filter."+institutes[4].name,"institutes.filter.status")(ng-change="testImg(institutes.filter)")
          th
            +iconButton("Hinzufügen","fa-save").btn-primary(
              ng-click="institutes.insert()"
              ng-show="institutes.filter."+institutes[0].name
              )   
      tbody(ui-sortable="sortableOptions('institutes')", ng-model="institutes.data")
        tr(ng-repeat="inst in institutes.data | filter:institutes.filter:strict"
          ng-class="{'warning': inst.changed}")
          td
            +input(institutes[0].pretty)(
              ng-model="inst."+institutes[0].name
              ng-change="institutes.setChanged(inst)")
            +inputCheckbox(institutes[1].pretty)(
              ng-model="inst."+institutes[1].name
              ng-change="institutes.setChanged(inst)")
          td
            +input(institutes[2].pretty)(
              ng-model="inst."+institutes[2].name
              ng-change="institutes.setChanged(inst)")
            +input(institutes[3].pretty)(
              ng-model="inst."+institutes[3].name
              ng-change="institutes.setChanged(inst)")
          th
            +inputImg(institutes[4].pretty,"inst."+institutes[4].name,"inst.status")(ng-change="testImg(inst)")        
          td(ng-disabled="inst.busy")
            .btn-group(ng-show="inst.changed")
              +iconButton("Speichern","fa-save").btn-primary(
                ng-click="institutes.save(inst)"
                ) 
              +iconButton("Rückgängig","fa-undo").btn-default(
                ng-click="institutes.unchange(inst)"
                )
            +iconButton("Löschen","fa-trash-o").btn-danger(
              ng-click="institutes.delete(inst)"
              ng-show="!inst.changed"
              ) 
  +panel("Semester einrichten","active == 'semesters'","active != 'semesters'")
    table.table.table-hover
      thead
        tr(ng-disabled="semesters.filter.busy")
          th
            +input(semesters[0].pretty)(ng-model="semesters.filter."+semesters[0].name)
            +inputCheckbox(semesters[6].pretty)(ng-model="semesters.filter."+semesters[6].name)
          th
            +inputDate(semesters[1].pretty)(
              ng-model="semesters.filter."+semesters[1].name
              show-button-bar="false")
            +inputDate(semesters[2].pretty)(
              ng-model="semesters.filter."+semesters[2].name
              show-button-bar="false")
          th
           +inputDate(semesters[3].pretty)(
              ng-model="semesters.filter."+semesters[3].name
              show-button-bar="false")
           +inputDate(semesters[4].pretty)(
              ng-model="semesters.filter."+semesters[4].name
              show-button-bar="false")
          th
            +inputDate(semesters[5].pretty)(
              ng-model="semesters.filter."+semesters[5].name
              show-button-bar="false")
          th         
            +iconButton("Hinzufügen","fa-save").btn-primary(
              ng-click="semesters.insert()"
              ng-show="semesters.filter."+semesters[0].name
              ) 
      tbody(ui-sortable="sortableOptions('semesters')", ng-model="semesters.data")
        tr(ng-repeat="sem in semesters.data | filter:semesters.filter:strict"
          ng-class="{'warning': sem.changed}"
          )
          td
            +input(semesters[0].pretty)(
              ng-model="sem."+semesters[0].name
              ng-change="semesters.setChanged(sem)")
            +inputCheckbox(semesters[6].pretty)(
              ng-model="sem."+semesters[6].name
              ng-change="semesters.setChanged(sem)")
          td
            +inputDate(semesters[1].pretty)(
              ng-model="sem."+semesters[1].name
              ng-change="semesters.setChanged(sem)"
              show-button-bar="false")
            +inputDate(semesters[2].pretty)(
              ng-model="sem."+semesters[2].name
              ng-change="semesters.setChanged(sem)"
              show-button-bar="false")
          td
            +inputDate(semesters[3].pretty)(
              ng-model="sem."+semesters[3].name
              ng-change="semesters.setChanged(sem)"
              show-button-bar="false")
            +inputDate(semesters[4].pretty)(
              ng-model="sem."+semesters[4].name
              ng-change="semesters.setChanged(sem)"
              show-button-bar="false")
          td
            +inputDate(semesters[5].pretty)(
              ng-model="sem."+semesters[5].name
              ng-change="semesters.setChanged(sem)"
              show-button-bar="false")
          td(ng-disabled="sem.busy")
            .btn-group(ng-show="sem.changed")
              +iconButton("Speichern","fa-save").btn-primary(
                ng-click="semesters.save(sem)"
                ) 
              +iconButton("Rückgängig","fa-undo").btn-default(
                ng-click="semesters.unchange(sem)"
                )
            +iconButton("Löschen","fa-trash-o").btn-danger(
              ng-click="semesters.delete(sem)"
              ng-show="!sem.changed"
              ) 

  +panel("Formular einrichten","active == 'form'","active != 'form'")
